doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    - if (env === 'production')
      link(rel="stylesheet", href="/assets/css/js/app.css")

    title Anonymous

  body
    #app
    input#csrf(type='hidden' value=csrf)

    script.
      //- 手机像素比适配
      var oHtml = document.documentElement;
      getSize();
      window.onresize = function() {
        getSize();
      };
      function getSize() {
        var screenWidth = oHtml.clientWidth;
        if (screenWidth <= 320) {
          oHtml.style.fontSize = 10 + 'px';
        } else if (screenWidth >= 640) {
          oHtml.style.fontSize = 15 + 'px';
        } else {
          oHtml.style.fontSize = screenWidth / 640 * 15 + 'px';
        }
      }

    script(type="text/javascript" src='/assets/js/app.js')
    